In [25]:
from pandas import *
import matplotlib.pyplot as plt
%matplotlib inline

## Read Dataset 2: London Kensington

Sulphur dioxide = Rikkidioksidi  
Nitric oxide = Nitrogen dioxide = Typpioksidi ??  
Ozone = Otsoni

In [26]:
AirQuality15min = read_csv('../data/AirQualityData15Minutes.csv', header=4)
AirQuality15min.head()

         Date   time  Sulphur dioxide status/unit
0  01-12-2015  00:15          1.04573     V ugm-3
1  01-12-2015  00:30          1.30650     V ugm-3
2  01-12-2015  00:45          1.04573     V ugm-3
3  01-12-2015  01:00              NaN
4  01-12-2015  01:15              NaN

In [27]:
AirQuality1hour = read_csv('../data/AirQualityDataHourly.csv', header=4)
AirQuality1hour.head()

,Date,time,PM10 particulate matter (Hourly measured),status/unit,Modelled Wind Direction,status/unit.1,Modelled Wind Speed,status/unit.2,Modelled Temperature,status/unit.3,Nitric oxide,status/unit.4,Nitrogen dioxide,status/unit.5,Ozone,status/unit.6,PM2.5 particulate matter (Hourly measured),status/unit.7,Sulphur dioxide,status/unit.8
0,01-12-2015,01:00,4.0,V ugm-3 (TEOM FDMS),No data,NaN,No data,NaN,No data,NaN,1.48512,V ugm-3,27.98243,V ugm-3,33.86038,V ugm-3,6.100,V ugm-3 (TEOM FDMS),1.13266,V ugm-3
1,01-12-2015,02:00,4.2,V ugm-3 (TEOM FDMS),No data,NaN,No data,NaN,No data,NaN,0.81449,V ugm-3,23.78066,V ugm-3,35.39041,V ugm-3,1.200,V ugm-3 (TEOM FDMS),0.26077,V ugm-3
2,01-12-2015,03:00,2.5,V ugm-3 (TEOM FDMS),No data,NaN,No data,NaN,No data,NaN,0.35922,V ugm-3,18.38964,V ugm-3,43.10712,V ugm-3,2.800,V ugm-3 (TEOM FDMS),0.39115,V ugm-3
3,01-12-2015,04:00,3.3,V ugm-3 (TEOM FDMS),No data,NaN,No data,NaN,No data,NaN,0.71845,V ugm-3,26.41210,V ugm-3,31.28260,V ugm-3,3.000,V ugm-3 (TEOM FDMS),0.91535,V ugm-3
4,01-12-2015,05:00,7.0,V ugm-3 (TEOM FDMS),No data,NaN,No data,NaN,No data,NaN,6.42983,V ugm-3,46.34561,V ugm-3,13.02194,V ugm-3,4.700,V ugm-3 (TEOM FDMS),1.04507,V ugm-3